body{
    background: black;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}
header{
    background-color: rgba(50,205,50,0.3);
    font-family: 'Roboto Mono', monospace;
    color: white;
    display: flex;
    width: 100%;
}
.logo{
    border: solid white;
    width: 300px;
    display: flex;
    margin: 8px;
}
img{
    max-width: 50px;
    width: auto;
    margin: 5px;
}
.gameboard{
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 0.25fr 1fr;
    grid-template-rows: 1fr;
    font-family: 'Roboto Mono', monospace;
    position: relative;
}
.iframe{
    display: none;
    z-index: 10;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
.word{
    background: black;
    grid-row: 1;
    grid-column: 1;
    display: flex;
    justify-content: center;
    font-size: x-large;
}
.letter{
    color: black;
    margin: 10px;
    height: 40px;
    border-bottom: solid limegreen;
    margin: auto;
}
.robot{
    background: black;
    grid-row: 1;
    grid-column: 3;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 350px;
}
.head{
    grid-row: 1 / span 1;
    grid-column: 2 / span 2;
    background-color: grey;
    margin: 10px;
    display: none;
    max-width: 150px;
    position: relative;
}
/* .head img{
    position: absolute;
    margin: 0 30px;
} */
.torso{
    grid-row: 2 / span 2;
    grid-column: 2 / span 2;
    background-color: grey;
    display: none;
    max-width: 170px;
}
.leftarm{
    grid-row: 2 / span 2;
    grid-column: 1 / span 1;
    background-color: grey;
    margin: 10px;
    display: none;
    max-width: 60px;
}
.rightarm{
    grid-row: 2 / span 2;
    grid-column: 4 / span 1;
    background-color: grey;
    margin: 10px;
    display: none;
    max-width: 60px;
}
.leftleg{
    grid-row: 4 / span 2;
    grid-column: 2 / span 1;
    background-color: grey;
    margin: 10px;
    display: none;
    max-width: 60px;
}
.rightleg{
    grid-row: 4 / span 2;
    grid-column: 3 / span 1;
    margin: 10px;
    background-color: grey;
    display: none;
    max-width: 60px;
}
.timer{
    grid-row: 5 / span 1;
    grid-column: 4 / span 1;
    font-family: "Roboto Mono", monospace;
    color: rgb(100,205,50);
    font-size: xx-large;
    text-align: right;
}


footer{
    min-height: 300px;
    background-color: grey;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
h3{
    display: none;
    position: absolute;
    top: 32%;
    left: 42%;
    z-index: 15;
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: xx-large;
}
.row{
    display: flex;
}
.emptyKey{
    width: 40px;
    height: 40px;
    margin: 3px;
    box-sizing: border-box;
}
.key{
    width: 50px;
    height: 50px;
    border: solid black;
    text-align: center;
    border-radius: 2px;
    margin: 3px;
    color: white;
    background-color:#333;
    box-shadow: 0 0.2em 0 0.05em #222;
    box-sizing: border-box;
    border-bottom-color: #555;
    font-family: 'Arial', monospace;
    padding: 10px;
    font-size:large;
}
.keySpacer{
    width: 25px;
}
.keyboard{
    grid-row: 1 / span 3;
    grid-column: 1 / span 3;
    margin: 0 auto;

}
.buttons{
    grid-row: 2 / span 2;
    grid-column: 5 / span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0 auto;
    border-radius: 10px;
    font-size: larger;
}
.buttons button{
    border-radius: 50%;
    border: solid black;
    margin: 12px;
    color: white;
    background-color:#333;
    box-shadow: 0 0.2em 0 0.05em #222;
    box-sizing: border-box;
    border-bottom-color: #555;
    font-family: 'Arial', monospace;
    padding: 10px;
    font-size: larger;
}
.noisyWords{
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
}
.robotWords{
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
}
.computerWords{
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
}
.colorWords{
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
}
.input{
    grid-row: 1 / span 1;
    grid-column: 5/ span 2;
    height: 100px;
    align-items: center;
    margin: 0 auto;
}
input{
    margin: 25px auto;
    height: 50px;
    border-radius: 10px;
    background-color: black;
    color: limegreen;
    font-family: 'Roboto Mono', monospace;
}
.go{
    border-radius: 50%;
    height: 40px;
    border: solid black;
    margin: 3px;
    color: white;
    background-color:#333;
    box-shadow: 0 0.2em 0 0.05em #222;
    box-sizing: border-box;
    border-bottom-color: #555;
    font-family: 'Arial', monospace;
    padding: 10px;
    font-size: larger;
}
.jump{
    display: none;
}
.wordSelection{
    grid-row: 1 / span 3;
    grid-column: 5 / span 2;
    margin: 0 auto;
}