body{
    background: lemonchiffon;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.logo{
    border-style: solid;
    border-color: black;
    width: 300px;
    display: flex;
    font-family: 'Roboto Mono', monospace;
    margin: 8px;
}

img{
    max-width: 50px;
    width: auto;
    margin: 5px;

}

footer{
    height: 300px;
    background-color: grey;
    flex-shrink: 0;
}
.gameboard{
    flex: 1;
}